<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-lumen.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        <img src="~/images/logo.png" alt="logo" width="500" height="85" />
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-action="Index">Recipe Collection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AddRecipe">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="RecipeList">Recipe List</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
