@model Cuisine

@{
    ViewBag.Title = "Edit Cuisine";
    Layout = "_AdminLayout";
}

<form class="p-a-1" asp-action="EditCuisine" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="CuisineID" />
    <div class="form-group">
        <label asp-for="CuisineType"></label>
        <div><span asp-validation-for="CuisineType" class="text-danger"></span></div>
        <input class="form-control" asp-for="CuisineType" />
    </div>
    <div class="text-center">
        <button class="btn-block btn-primary" type="submit">Save</button>
        <button class="btn-block btn-secondary" asp-action="Index">Cancel</button>
    </div>
</form>