
@{
    ViewBag.Title = "Recipe Collection";
}


<div id="main">
    <div class="logo" id="logo"></div>
    <div id="first"></div>
    <div id="second" class="jumbotron text-center">
        <h1 class="display-3">@ViewBag.Greeting Chef!!</h1>
        <p class="lead">
            Our recipe will turn your kitchen into the professional kitchen.
        </p>
        <hr class="my-4">
        <p>Welcome to the Recipe Collection!</p>
    </div>
</div>
